# Ignore folders
MODEL*
INTERFACE
OBSDATA
PATCH
PARAMETER
Result*
PHS*
PAC*
# Ignore files
*.gz
*.fig
*.m
*.txt
*.asv

# Maintain folders
!subfunction/*
!MinorFile/*
!org/*
# Maintain files
!.gitignore
!README.md
!PassiveSlipKim.m
!adv.m
!advs.m
!calctrans.m
!makeGreenDisp.m
!makeGreenStrain.m
!trans_xyz2strdip.m
!InpolySpline.m
!Est_PassiveSlip.m
